.button {
    width: 250px;
    margin-top: 15px;
}
.select {
    margin-top: 10px;
}
.textarea{
    display: block;
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    height: 230px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 5px;
    overflow: auto;
}
.textarea_wrapper {
    position: relative;
}

.errorText {
    color: red;
    position: absolute;
    bottom: -16px;
    
}