.select_list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.select_list_button{
    position: absolute;
    right: 12px;
    z-index: 2;
    top: 27px;
}
.select_list li{
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;

}
.select_list svg {
    cursor: pointer;
}
.select_list li a{
    margin-right: 5px;
    text-decoration: none;
    color: #a1a1a1;
}
.select_list_wrapper{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    padding: 30px;
    padding-top: 65px;
    background: #fff;
    box-sizing: border-box;
    height: 100%;
}
@media only screen and (max-width: 640px) {
    .createSelect {
    bottom: 76px;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    z-index: 5;
    }
}