/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Button/Button.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__mg_cR {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    border:none;
    outline: none;
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    background:none;
}

.Button_primary__PFIP8 {
    color: #000;
    background-color: #eee;
}

.Button_ghost__VE_C_ {
   border: 1px solid #000; 
}

.Button_alert__Zsy1r {
    color: rgb(255,255,255);
    background-color: rgb(255,45,85);
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Menu/Menu.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.Menu_nav__TKjBv {
    display:flex;
    color:var(--secondary-color);
    width: 45%;
    justify-content: space-around;
    /* gap: 30px;*/
}
.Menu_links__wOrsj{
    font-weight: normal;
    font-weight: 300;
    font-size: 19px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Header/Header.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__pXml_{
    width: 100%;
    background: var(--header);
    height: 50px;
    display:flex;
    align-items:center;
}
.Header_wrapper__Gvcid{display:flex;}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Footer/Footer.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Footer_footer__o4_Ec {
    height: 100px;
    border:1px solid #000;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Input/Input.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
 .Input_input__MPP3N{
   line-height: 20px;
    height: 60px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: 0;
    outline: 0;
    box-shadow: none;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
 }
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Filter/Filter.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Filter_filter__9SuaG {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 1;
    padding: 0 20px;
    min-width: 320px;
    list-style-type: none;
    height: calc(100vh - 120px);
    overflow: auto;
}
.Filter_filter__9SuaG label{
    width: 100%;
    display: flex;
    height: 30px;
    align-items: center;
}
.Filter_filter__9SuaG p{
    font-weight: bold;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./app/(admin)/components/SongForm/SongForm.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.SongForm_button__ymuHZ {
    width: 250px;
    margin-top: 15px;
}
.SongForm_select__D4xgq {
    margin-top: 10px;
}
.SongForm_textarea__MjiSN{
    display: block;
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    height: 230px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 5px;
    overflow: auto;
}
