/* 154 */

.top > h3 {
    font-size: 20px;
}
.top_close {
    text-align: right;
}
.btn_group {
    margin-top: 25px;
}

.btn_group a {
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 10px 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 16px;
    
}
.btn_group a:first-child {
    color:#fff;
    margin-bottom: 20px;
}
.scroll {
    height: calc(100% - 210px);
    overflow: auto;
}
.middle, .bottom  {
    margin-top: 40px;
}
.song_text{
    margin-top: 10px;
}
.song_text * {
    font-family: inherit!important;
}
.bottom {
    border-top: 1px solid #eee;
    padding-top: 40px;
}
.tabs {
    margin: 16px 0;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.tabs button{
    color: #757474;
    background: none;
    outline: none;
    border: none;
    padding: 5px 19px;
    font-size: 16px;
}
.tabs button:disabled {
    background: var(--alert-color);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
}
.tab_content ul {
    list-style-type: none;
    padding-left: 30px;
}
.tab_content li {
    margin-bottom: 10px;
    display: flex;
    position: relative;
    line-height: 1.9;
}

.tab_content li img{
    position: absolute;
    left: -30px;
    top: 6px;
}
 /*Mobile*/
 @media only screen and (max-width: 640px) {
    .btn_group a {
        height: 50px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
 }