.song_list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: calc(100vh - 200px);
    overflow: auto;
}
.song_list li{
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.song_list li a{
    margin-right: 5px;
    text-decoration: none;
    color: #a1a1a1;
    
}
.player{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
.top_bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.order {
    display: inline-block;
}
.search_input {
    border:1px solid #e3e3e3;
    border-radius: 3px;
    height: 30px;
    width: 200px;

}